include /modules/checkbox/checkbox.pug
mixin expandable-checkbox-list(title, items)
	details.checkbox-list
		summary.checkbox-list__summary
			h3.checkbox-list__title= title
		ul.checkbox-list__list
			if items
				each item in items
					- var attr = item[1]
					li.checkbox-list__list-item
						+checkbox(item[0], item[1])