@use "@/styles/helpers/helpers" as *
@use "@modules/button/button" as *
	
.finder
	@extend %card
	gap: 21px
	background: #fff

	&__title
		margin: 10px 0 0

	&__button
		height: 44px
		margin: 10px 0 0

	&__dates
		display: flex
		justify-content: space-between

	&__date
		width: 150px
	
	&__label
		@extend %input-label
	