include /modules/button/button

mixin finder()
	.finder 
		h1.finder__title Найдём номера под ваши пожелания
		.finder__datepicker 
		.finder__dropdown
		.finder__button 
			+button("arrow", "подобрать номер")