include /modules/button/button

mixin finder()
	.finder 
		h1.finder__title Найдём номера под ваши пожелания
		.finder__dates 
			.finder__date
				h3.finder__label Прибытие
				.finder__arrival-datepicker
			.finder__date
				h3.finder__label Выезд
				.finder__departure-datepicker
		.finder__guests
			h3.finder__label Гости
			.finder__dropdown
		.finder__button 
			+button("arrow", "подобрать номер")