@use "@/styles/styles" as *
@use "@modules/finder/finder" as *

.hero
	height: max(calc(100vh - 70px), 500px)
	width: 100%
	position: relative
	background: bottom / cover no-repeat url("@img/hero.png")

	&__finder
		position: absolute
		top: 70px
		left: 10%

	&__extra
		position: absolute
		right: 10%
		bottom: 18px
		width: 297px
		text-align: right
