@import "@/styles/styles"
@import "@modules/finder/finder"
	
.hero
	height: 100vh
	width: 100%
	position: relative
	background: pink

	&__finder
		position: absolute
		top: 70px
		left: 10%

	&__extra
		position: absolute
		right: 10%
		bottom: 18px
		width: 297px
		text-align: right