mixin pagination
	.pagination 
		.pagination__top
			//- .pagination__arrow arrow_back
			.pagination__pages 
				.pagination__page.pagination__page--current 1
				.pagination__page 2
				.pagination__page 3
				.pagination__page ...
				.pagination__page 15
			.pagination__arrow arrow_forward
		.pagination__bottom 1 – 12 из 100+ вариантов аренды
