.slider-wrapper
	width: 300px
	
.slider
	width: 100%
	height: 37px
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer

	&__rail
		width: 100%
		height: 6px
		background: #fff
		border: 1px solid $gray
		border-radius: 3px
		position: relative

		&-inner
			position: absolute
			top: 0
			bottom: 0
			left: 7px
			right: 7px

	&__track
		background: $green
		position: absolute

	&__thumb
		position: absolute
		left: 0
		top: -5px
		transform: translateX(-50%)
		width: 14px
		height: 14px
		border: 2px solid #fff
		border-radius: 10px
		background: $green
		&::after
			content: ""
			position: absolute
			bottom: calc(100% + 3px)
			transform: translateX(-25%)
			height: 20px
			width: 20px
			border: 1px solid black
			background: white
