
// 1 - HELPERS
@import "1-helpers/variables"
@import "1-helpers/functions"

// 2 - TOOLS
@import "2-tools/normalize"

// 3 - BASICS
@import "3-basics/base"
@import "3-basics/typography"

@import "5-pages/nav"

@import "@modules/input-text/input-text"
@import "@modules/checkbox/checkbox"
@import "@modules/radio/radio"
@import "@modules/toggle/toggle"
@import "@modules/like/like"
@import "@modules/rate/rate"
@import "@modules/button-full/button-full"
@import "@modules/button-hollow/button-hollow"
@import "@modules/link/link"
@import "@modules/button-arrow/button-arrow"
@import "@modules/expandable-checkbox-list/expandable-checkbox-list"
@import "@modules/rich-checkbox/rich-checkbox"
@import "@modules/bullet-list/bullet-list"
@import "@modules/icon-text-list/icon-text-list"
@import "@modules/comment/comment"
@import "@modules/dropdown/dropdown"
@import "@modules/slider/slider"


body
	display: grid
	place-items: center
	padding-bottom: 200px
.box
	display: block
	width: 4rem
	height: 4rem
	border-radius: 5px

/** Cycle through array of colors to make classes .c1-.c7 **/
// $count: 1
// @each $color-name, $color-collection in $colors
// 	@each $tone, $value in $color-collection
// 		.c#{$count}
// 			background: $value
// 		$count: $count + 1
