mixin input-submit(label, placeholder)
	form.input-submit
		label.input-submit__wrapper
			h3.input-submit__label= label
			input(type="text" name="" placeholder=placeholder).input-submit__input
			input(type="submit" value="arrow_forward").input-submit__submit