.nav
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	width: 80%
	margin: auto
	height: 70px

	&__logo
		display: flex
		flex-direction: row
		align-items: center
		gap: 12.5px

	&__links
		display: flex
		flex-direction: row
		align-items: center
		gap: 20px
		color: $gray
		height: 34px

	&__user
		padding-left: 20px
		border-left: 1px solid $light