include /modules/button/button
include /pug/includes/logo

mixin nav(authed, user)
	nav.nav
		a(href="/").nav__logo
			+logo
		.nav__burger 
			.nav__burger-line
			.nav__burger-line
			.nav__burger-line
		ul.nav__items
			- const links = [{title: "О нас", link: "#", active: true}, {title: "Услуги", link: "#"}, {title: "Вакансии", link: "#"}, {title: "Новости", link: "#"}, {title: "Соглашения", link: "#"}]
			each val, i in links
				- const {title, link, active} = val
				li.nav__item
					a.nav__link(href= link, class=active ? "nav__link--active" : "")= title
			if authed
				li.nav__item.nav__item--user
					a.nav__link(href="#")= user
			else
				li.nav__item.nav__item--button
					.nav__button
						+button("hollow", "Войти")
				li.nav__item.nav__item--button
					.nav__button
						+button("full", "Зарегистрироваться")
	.nav-modal
	.nav-filler