include /modules/buttons/button-full
include /modules/buttons/button-hollow
include /pug/includes/logo

mixin nav(authed, user)
	nav.nav
		a(href="/").nav__logo
			+logo
		ul.nav__items
			li.nav__item
				a.nav__link(href="#") О нас
			li.nav__item
				a.nav__link(href="#") Услуги
			li.nav__item
				a.nav__link(href="#") Вакансии
			li.nav__item
				a.nav__link(href="#") Новости
			li.nav__item
				a.nav__link(href="#") Соглашения
			if authed
				li.nav__user
					a.nav__link(href="#")= user
			else
				li.nav__item
					+button-hollow("Войти")
				li.nav__item
					+button-full("Зарегистрироваться")
