include /modules/button-full/button-full
include /modules/button-hollow/button-hollow
include /pug/includes/logo

mixin nav(authed, user)
	nav.nav
		a(href="/").nav__logo
			+logo
		ul.nav__links
			li.nav__link
				a.link(href="#") О нас
			li.nav__link
				a.link(href="#") Услуги
			li.nav__link
				a.link(href="#") Вакансии
			li.nav__link
				a.link(href="#") Новости
			li.nav__link
				a.link(href="#") Соглашения
			if authed
				li.nav__user
					a.link(href="#")= user
			else
				li.nav__link
					+button-hollow("Войти")
				li.nav__link
					+button-full("Зарегистрироваться")
