.details
	width: 80%
	margin: 70px auto
	display: flex
	gap: 70px

	&__text

		&-top,
		&-bottom
			display: flex
			justify-content: space-between
			gap: 70px

		&-top,
		&-middle
			margin-bottom: 30px

	&__reviews
		&-list
			display: flex
			flex-direction: column
			gap: 22px

	&__cancel
		max-width: 341px
	
	&__title,
	&__title-top
		margin-bottom: 20px

	&__title-top
		display: flex
		justify-content: space-between
		
.showcase
	display: flex
	height: 485px

	&__main
		width: 60%
		background: darkgray

	&__aside
		display: flex
		flex-direction: column
		height: 100%
		width: 40%

	&__pic
		height: 50%
		background: gray