extends /pug/layout/layout
include /modules/icon-text-list/icon-text-list
block content 
	.showcase 
	.details 
		.details__text
			.details__text-top
				.details__benefits 
				.details__rating 
			.details__text-middle
				.details__reviews 
			.details__text-bottom
				.details__rules 
				.details__cancel
		.details__card