<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Toxin
		include /modules/input-text/input-text.pug
		include /modules/checkbox/checkbox.pug
		include /modules/radio/radio.pug
		include /modules/toggle/toggle.pug
		include /modules/like/like.pug
		include /modules/rate/rate.pug
		include /modules/button-full/button-full.pug
		include /modules/button-hollow/button-hollow.pug
		include /modules/link/link.pug
		include /modules/button-arrow/button-arrow.pug
		include /modules/expandable-checkbox-list/expandable-checkbox-list.pug
	body
		| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, corporis.
		ul
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, consectetur autem.
		h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, vel!
		h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, deleniti.
		h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, neque!
		+input-text("Input text", "Email")
		+checkbox("Можно с питомцами")
		+checkbox("Можно с питомцами (до 10 человек)")
		+checkbox("Можно rehbnm")
		+radio("Женщина", "gender")
		+radio("Мужчина", "gender", true)
		+toggle("Toggle")
		+like(2)
		+like(24)
		+like(24242424242)
		+rate("eee")
		+button-full("Sample text")
		+button-hollow("Sample text")
		+link("Sample text", "#")
		+button-arrow("Sample text")
		- var items = [["Завтрак", true], ["Обед"], ["Ужин", false]]
		+expandable-checkbox-list("Expandable checkbox list", items)