<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Toxin
		include /modules/inputs/input-text
		include /modules/inputs/dropdown
		include /modules/checkbox/checkbox
		include /modules/radio/radio
		include /modules/toggle/toggle
		include /modules/like/like
		include /modules/rate/rate
		include /modules/button/button
		include /modules/link/link
		include /modules/expandable-checkbox-list/expandable-checkbox-list
		include /modules/rich-checkbox/rich-checkbox
		include /modules/bullet-list/bullet-list
		include /modules/icon-text-list/icon-text-list
		include /modules/comment/comment
		include /modules/slider/slider
		include /modules/nav/nav
		include /modules/footer/footer
		include /modules/copyright/copyright
	body
		+nav(true, "Сбор Подоев")
		+nav
		+footer
		+copyright
		| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, corporis.
		ul
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, consectetur autem.
		h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, vel!
		h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, deleniti.
		h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, neque!
		+input-text("Input text", "Email")
		+checkbox("Можно с питомцами")
		+checkbox("Можно с питомцами (до 10 человек)")
		+checkbox("Можно rehbnm")
		+radio("Женщина", "gender")
		+radio("Мужчина", "gender", true)
		+toggle("Toggle")
		+like(2)
		+like(24)
		+like(24242424242)
		+rate("eee")
		div(style="height: 44px;")
			+button("hollow", "Sample text")
		div(style="height: 44px;")
			+button("full", "Sample text")
		div(style="height: 44px; width: 320px;")
			+button("arrow", "Sample text")
		+link("Sample text", "#")
		- var items = [["Завтрак", true], ["Обед"], ["Ужин", false]]
		+expandable-checkbox-list("Expandable checkbox list", items)
		+rich-checkbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.", true)
		+bullet-list("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия - после 13:00, а выезд до 12:00")
		+icon-text-list(["insert_emoticon", "Комфорт", "Шумопоглощающие стены"], ["location_city", "Удобство", "Окно в каждой из спален"])
		+comment("", "Бидон Помоев", "5 дней назад", "12", "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
		+dropdown()
		//- +slider()