<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Toxin
	body
		| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, corporis.
		ul
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, consectetur autem.
		h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, vel!
		h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, deleniti.
		h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, neque!
		label.input-text
			h3.input-text__label Text field
			input(type="text" placeholder="Email").input-text__input
		label.checkbox
			input(type="checkbox").checkbox__input
			span.checkbox__label Можно rehbnm
		label.checkbox
			input(type="checkbox").checkbox__input
			span.checkbox__label Можно с питомцами
		label.checkbox
			input(type="checkbox").checkbox__input
			span.checkbox__label Можно пригласить гостей (до 10 человек)
		label.radio
			input(type="radio", name="test").radio__input
			span.radio__label Мужчина
		label.radio
			input(type="radio", name="test").radio__input
			span.radio__label Женщина
		label.toggle
			input(type="checkbox").toggle__input
			span.toggle__label Label