mixin icon-text-list(...items)
	ul.icon-text-list
		each item in items
			- var icon = item[0]
			- var title = item[1]
			- var text = item[2]
			li.icon-text-list__item
				.icon-text-list__icon= icon
				.icon-text-list__description
					.icon-text-list__title= title
					.icon-text-list__text= text