include /pug/includes/logo
mixin copyright
	.copyright
		.copyright__logo
			+logo
		.copyright__text Copyright &#169; 2018 Toxin отель. Все права зачищены.
		.copyright__media
			a(href="#").copyright__link 
			a(href="#").copyright__link 
			a(href="#").copyright__link 