extends /pug/layout/layout
include /modules/card/card
include /modules/checkbox/checkbox
include /modules/rich-checkbox/rich-checkbox
include /modules/expandable-checkbox-list/expandable-checkbox-list
include /modules/pagination/pagination

block content
	.search
		.search__filters 
			.search__dropdown
				h3.search__label даты пребывания в отеле
				.search__dates
			.search__dropdown
				h3.search__dates-label даты пребывания в отеле
				.search__guests
			.search__price-slider 
			.search__rules 
				h3.search__list-title правила дома
				ul.search__list 
					li.search__list-item
						+checkbox("Можно курить")
					li.search__list-item
						+checkbox("Можно с питомцами")
					li.search__list-item
						+checkbox("Можно пригласить гостей (до 10 человек)")
			.search__access 
				h3.search__list-title доступность
				ul.search__list 
					li.search__list-item
						+rich-checkbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
					li.search__list-item
						+rich-checkbox("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
			.search__dropdown
				h3.search__label удобства номера
				.search__comfort
			.search__extra 
				+expandable-checkbox-list("дополнительные удобства", "Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь")

		.search__results 
			h1.search__title Номера, которые мы для вас подобрали
			.search__rooms 
				//- - const rooms = [ { number: 888, price: 9900, lux: true, reviews: 145, img: "search1.png", stars: 5, }, { number: 840, price: 9900, reviews: 65, img: "search2.png", stars: 4, }, { number: 980, price: 8500, lux: true, reviews: 35, img: "search3.png", stars: 3, }, { number: 856, price: 7300, reviews: 19, img: "search4.png", stars: 5, }, { number: 740, price: 6000, reviews: 44, img: "search5.png", stars: 4, }, { number: 982, price: 5800, reviews: 56, img: "search6.png", stars: 3, }, { number: 672, price: 5500, reviews: 45, img: "search7.png", stars: 5, }, { number: 450, price: 5300, reviews: 39, img: "search8.png", stars: 4, }, { number: 350, price: 5000, reviews: 77, img: "search9.png", stars: 3, }, { number: 666, price: 5000, reviews: 25, img: "search10.png", stars: 5, }, { number: 444, price: 5000, reviews: 15, img: "search11.png", stars: 3, }, { number: 352, price: 5000, reviews: 55, img: "search12.png", stars: 3, }, ]
				//- for room in rooms
				//- 	- const {number, price, lux, reviews, img, stars} = room
				//- 	+card(number, price, lux, reviews, img)
			.search__pagination  
				+pagination