@use "@/styles/helpers/helpers" as *
@use "@/styles/basics/logo" as *
@use "@modules/inputs/input-submit" as *

.footer
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	width: 100%
	padding-top: 100px
	padding-bottom: 100px
	@extend %container-padding
	background: #fff

	@media screen and ( max-width: 1280px )
		flex-wrap: wrap

	&__section
		padding-bottom: 2rem
		&-title
			padding-bottom: 21px

	&__list
		width: 200px
		display: flex
		flex-direction: column
		gap: 20px
		color: $gray

		&--wide
			width: 300px
			padding-right: 40px
			color: $darkgray
