include /pug/includes/logo
include /modules/inputs/input-submit
mixin footer
	footer.footer
		.footer__section
			ul.footer__list.footer__list--wide
				li.footer__li
					a(href="#")
						+logo
				li.footer__li
					p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		- const lists = [{title: "Навигация", items: [{title: "О нас", link: "#"}, {title: "Новости", link: "#"}, {title: "Служба поддержки", link: "#"}, {title: "Услуги", link: "#"}]}, {title: "О нас", items: [{title: "О сервисе", link: "#"}, {title: "Наша команда", link: "#"}, {title: "Вакансии", link: "#"}, {title: "Инвесторы", link: "#"}]}, {title: "Служба поддержки", items: [{title: "Соглашения", link: "#"}, {title: "Сообщества", link: "#"}, {title: "Связь с нами", link: "#"}]}]
		each list in lists
			- const {title, items} = list
			.footer__section
				h3.footer__section-title= title
				ul.footer__list
					each item in items
						- const {title, link} = item
						li.footer__li
							a(href=link)= title
		.footer__section
			h3.footer__section-title Подписка
			ul.footer__list.footer__list--wide
				li.footer__li
					p Получайте специальные предложения и новости сервиса
				li.footer__li
					+input-submit("Email")
