.rate
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center
	width: fit-content

	&__input
		appearance: none
		outline: none
		flex: none
		display: inline-block
		width: 24px
		height: 24px
		font-size: 24px
		line-height: 20.4px
		cursor: pointer

		&::after
			content: "star"
			font-family: 'Material Icons'
			text-transform: none
			letter-spacing: normal
			word-wrap: normal
			white-space: nowrap
			direction: ltr
			-webkit-font-smoothing: antialiased
			text-rendering: optimizeLegibility
			-moz-osx-font-smoothing: grayscale
			font-feature-settings: 'liga'

			background: $primary-gradient
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
		
		&:checked
			&::after
				content: "star"
			& ~ .rate__input
				&::after
					content: "star_border"